@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Person.FirstName" class="control-label"></label>
		<input asp-for="Person.FirstName" class="form-control" />
		<span asp-validation-for="Person.FirstName"
			  class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Person.LastName" class="control-label"></label>
		<input asp-for="Person.LastName" class="form-control" />
		<span asp-validation-for="Person.LastName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>

<div class="text-center">
	<p>
		W bazie jest @Model.Records.Count aktywnych obiektów. Lista
		aktywnych osób:
	</p>
	@foreach (var item in Model.Records.People)
	{
		<p>@item.FullName</p>
	}
</div>

<div class="text-center">
	<p>
		W bazie jest @Model.People.Count osób o imieniu Patryk. Lista
		tych osób:
	</p>
	@foreach (var item in Model.People)
	{
		<p>
			@Html.DisplayFor(modelItem => item.FirstName)
			@Html.DisplayFor(modelItem => item.LastName)
		</p>
	}
</div>



